#root {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

#niculin-iframe {
    height: 0;
    width: 0;
    position: fixed;
    bottom: 96px;
    left: 32px;
    max-width: min(480px, 80dvw);
    background-color: transparent;
    box-shadow:
        0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

#niculin-iframe[data-open="true"] {
    height: 480px;
    width: min(420px, 80dvw);
}

#niculin-iframe-toggle-btn {
    position: fixed;
    left: 32px;
    bottom: 32px;
    height: 64px;
    width: 64px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    color: #015a9d;
    box-shadow:
        0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.content {
    font-size: 1.2rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    margin-block: 2rem;
    max-width: 620px;
}

.ml-auto {
    margin-left: auto;
}

.font-semibold {
    font-weight: 600;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
